@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family:
    sans-serif,
    --aple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans", "Liberation Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    @apply bg-darkgray text-white;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-size: 7vh;
  font-weight: bold;
}




/* Fading */

.fade-wrapper {
  transition:opacity ease-in-out;
}
.fade-out {
  opacity:0;
}
.fade-in {
  opacity:1;
}